---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Dipper Digital. All rights reserved.
	<a href="https://ko-fi.com/sreno" target="_blank">Buy me a Coffee :^)</a>
	<a href="mailto:steven@dipperdigital.com" target="_blank">Email Me</a>
</footer>
<style>
	footer {
		padding: 2em 1em 4em 1em;
		background: var(--bg-secondary);
		color: rgb(var(--gray));
		text-align: center;
		font-size: 0.9rem;
	}
</style>
